body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 6em;
    background-color: red;
}
header {
    background-color: #deededbe;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    display: inline-block;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
